.ui-slider-container {
  background-color: #fff;
  padding: 10px;
  border-radius: 10px;
  width:90%;

}

.ui-slider-container .ui-slider-timestamp {
  margin-top: 10px;
  text-align: center;
  font-weight: bold;
}

.leaflet-bottom.leaflet-right {
	width: 100%;
}